.main-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  position: fixed;
  width: 100%;

  max-height: 10vh;
  .header-logo-div{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  margin-left: 25px;
  h1{
    font-size: 22px;
  }

  }
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left:10px ;
  align-items: center;

  width: 100%;
}
.header-menu{
  button{
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
}
.header-logo{
  img{
    height: 5vh;
    padding-right: 10px;
    width: auto;
  }
}


// search box

// search box end

// action buttons
.action-buttons-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 1%;
  button{
      background-color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      height: 30px;
      width: 30px;
  }
}

// account buttons
.account-buttons-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  button{
      background-color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      height: 30px;
      width: 30px;
  }
}
.account-buttons-div{
  button:hover{
      background-color: #c5c5c5;
      transition: 0.2s ease-in-out;
  }
}