.grid-notes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 75%;
    height: absolute;
    position: fixed;
    top: absolute;
    left: 20%;
    top: 35%;
    /* opacity: 0.7; */
    z-index: 9;
}
.Notes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid rgb(218, 217, 217);
    // box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
    border-radius: 10px;
    // border-radius: 20px;

    padding: 10px;
    min-height: 20vh;
    text-align: justify;
}
.Notes:hover{
    box-shadow: 1px 1px 1px 1px #888888;
    .icons{
        display: block;
    }
    .icons-empty{
        display: none;
    }
}
.icons-empty{
    display: block;
}
.icons{
    display: none;
}
p { word-break: break-all }
@media screen and (max-width:1200px) {
    .grid-notes{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width:1024px) {
    .grid-notes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media screen and (max-width:768px) {
    .grid-notes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width:480px) {
    .grid-notes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        left: 15%;

        width: 85%;
    }
}